
:root {
  --red: #d24a5d;
  --gray: #D2CBC1;
  --forest: #B8C0A8;
  --teal: #6DB09C;
  --dark: #27565C;

  --sun: #f5eb00;
  --mon: #af7be8;
  --tue: #236971;
  --wed: #FE5F55;
  --thu: #94C9A9;
  --fri: #FF8600;
  --sat: #EDB183;
}

body {
  background: var(--dark);
  overflow: hidden;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 25px;
  flex-wrap: wrap;
}

.App {
  text-align: center;
}

.inner-container {
  width: 100vw;
  height: calc(100vh - 105px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.core-header {
  width: 80vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  color: var(--red);
  border-bottom: 7.5px double var(--red);
  margin: 0px;
}

.core-header h4 {
  color: var(--teal);
}

.one-offs {
  width: 40vw;
  margin-top: 10px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.one-off {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--forest);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.one-off h5 {
  width: 20%;
  border-right: 2px solid var(--forest);
  margin: 0px;
  color: var(--gray);
}

.one-off p, .one-off input {
  width: 75%;
  margin: 0px;
  font-size: 1em;
}

.one-off input {
  background: rgba(0, 0, 0, 0.25);
  border: none;
  height: 20px;
  color: lightgreen;
}

.entry {
  height: 19vh;
  width: 40%;
  border-bottom: 2px solid var(--teal);
  /* border-right: 2px solid var(--teal); */
  padding-left: 1%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-direction: column;
}

.entry h3 {
  color: var(--gray);
  text-decoration: underline;
}

.entry p {
  width: 100%;
}

.entry textarea {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.25);
  color: lightgreen;
  font-size: 1.1em;
}
